.custom-margin{
    margin-top: 110px;
    /* margin-bottom */
}

.custom-font{
    font-family: 'Alata';
}

.navbar{
    font-family: 'Alata';
}

.fa {
    padding: 10px 10px;
    font-size: 17px;
    width: 35px;
    text-align: center;
    margin-inline: 3px;
    margin-bottom: 7px;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #0485c5;
    color: white;
  }

  .fa-twitter {
    background: #11a8fff3;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .btn-success{
    background-color: #4DBD33;
    border: #4DBD33;
  }

  .btn-outline-success{
    color: #00C957;
  }

  .btn-outline-success:hover{
    background-color: #00C957;
  }

  .btn-danger{
    background-color: #FF030D;
  }

  /* Dashboard css */

  .sidebar{
    color: #fff;
    margin-top: 8px;
    height: 100vh;
    padding: 0;
    transition: all 0.5s;
  }

  .sidebar ul{
    margin-top: 25px;
    padding: 0;
  }
  .sidebar li{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding: 10px 0px;
    margin: 8px 0px;
    padding-left: 14px;
  }
  .sidebar .link{
    text-decoration: none;
    color: #fff;
  }
  .sidebar ul li:hover{
    background-color: #3ac1ff;
    border-radius: 5px;
  }
  .sidebar ul li i{
    margin-right: 15px;
    font-size: large;
  }
  .toggle{
    margin-left: 12px;
    font-size: x-large;
  }
  .sidebar h5{
    margin: 0px 20px;
  }

  /* end Dashboard css*/


@media only screen and (max-width: 576px) and (min-width: 275px) {
    .custom-margin{
        margin-top: 65px;
    }
}
