body {
  font-family: cursive;
}

.active{
  font-weight: bold;
  border-bottom: 2px solid red;
}

.custom-margin{
    margin-top: 110px;
    margin-bottom: 50px;
}

/* social media icons */
.fa-brands{
  font-size: larger;
  margin-inline: 4px;
  margin-bottom: 8px;
}

.btn-success{
  background-color: #4DBD33;
  border: #4DBD33;
}

.btn-outline-success{
  color: #00C957;
}

.btn-outline-success:hover{
  background-color: #00C957;
}

.btn-danger{
  background-color: #FF030D;
}

/* Dashboard css */

.sidebar{
  color: #fff;
  margin-top: 8px;
  height: 100%;
  padding: 0;
  transition: all 0.5s;
}

.sidebar ul{
  margin-top: 25px;
  padding: 0;
}
.sidebar li{
  list-style-type: none;
  display: flex;
  text-decoration: none;
  padding: 10px 0px;
  margin: 8px 0px;
  padding-left: 14px;
}
.sidebar .link{
  text-decoration: none;
  color: #fff;
}
.sidebar ul li:hover{
  background-color: #3ac1ff;
  border-radius: 5px;
}
.sidebar ul li i{
  margin-right: 15px;
  font-size: large;
}
.toggle{
  margin-left: 12px;
  font-size: x-large;
}
.sidebar h5{
  margin: 0px 20px;
}

/* Dashboard card */
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
/* End card */

/* end Dashboard css*/


/* for mobile devices */
@media only screen and (max-width: 450px) and (min-width: 275px) {
    .custom-margin{
        margin-top: 100px;
    }

    .about-img{
      text-align: center;
      margin-bottom: 25px;
    }
    .sidebar{
      height: 100vh;
    }
}
